<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <test name="AllTests">
        <classes>
            <class name="Pet_Project.HomePageTests">
                <methods>
                    <include name="tearDown"/>
                    <include name="testPageTitle"/>
                    <include name="testURL"/>
                    <include name="testLogo"/>
                    <include name="waitForPageLoad"/>
                </methods>
            </class>
            <class name="Pet_Project.RegistrationTests">
                <methods>
                    <include name="SignUpPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>